.landing {
  &__cards {
    margin: 0 auto 15px;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__card {
    border: 1px solid var(--dark);
    border-radius: 15px;
    padding-top: 15px;
    margin: 20px;

    width: 80px;
    height: 65px;

    &__icon {
      font-size: 1.5rem;
      margin-bottom: 5px;
      color: var(--dark);
    }
  }

  &__card:hover {
    cursor: pointer;
  }

  &__img {
    margin: 27px;
    width: 60%;
    border-radius: 5%;
  }
}

@media screen and (min-width: 900px) {

  .landing {


    &__img {
      width: 25%;
    }
  }
}

@media screen and (max-width: 900px) {

  .landing {
    &__cards {
      width: 100%;
    }

  }
}

